node_modules/
.idea/
.DS_Store
dist/
.next/
yarn-error.log
persisted-queries.json
.env
.env.local

#yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TypeScript incremental compilation cache
*.tsbuildinfo
