node_modules/
.idea/
.DS_Store
dist/
.next/
yarn-error.log
persisted-queries.json
.env
.env.local

#yarn
.yarn/*
# 👇 could be turned on, but not sure github allows such a size
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
