.ItemList {
  list-style: none;
  padding: var(--spacing-large) 0;
}

.ItemList li {
  display: block;
  padding-inline-start: var(--spacing-normal);
  padding-block: var(--spacing-small);
}

@media (min-width: 768px) {
  .ItemList li {
    display: flex;
  }
}
@media print {
  .ItemList li {
    display: flex;
  }
}

.ItemList_Date {
  flex: 0;
  min-width: 160px;
  font-weight: 700;
  margin-right: var(--spacing-normal);
  white-space: nowrap;
}

.ItemList_Detail {
  flex: 1;
}
