.u-text-center {
  text-align: center;
}

.u-space-y-large {
  padding: var(--spacing-large) 0;
}

.u-margin-right-normal {
  margin-right: var(--spacing-normal);
}

.u-padding-left-normal {
  padding-left: var(--spacing-normal);
}

.u-text-bold {
  font-weight: 700;
}

.u-display-flex {
  display: flex;
}

.u-section-title {
  border-bottom: 1px solid var(--color-text-black);
}
