html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

html,
body {
  height: 100%;
}

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import './styles/functions';
@import './styles/layout';
@import './styles/series-header';
@import './styles/favorites-table';